<%= form_for(@event_job_job_association) do |f| %>
  <% if @event_job_job_association.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_job_job_association.errors.count, "error") %> prohibited this event_job_job_association from being saved:</h2>

      <ul>
      <% @event_job_job_association.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_id %><br>
    <%= f.number_field :event_id %>
  </div>

  <div class="field">
    <%= f.label :predecessor_id %><br>
    <%= f.text_field :predecessor_id %>
  </div>
    <div class="field">
      <%= f.label :successor_id %><br>
      <%= f.number_field :successor_id %>
    </div>
  <div class="field">
    <%= f.label :earliest_start %><br>
    <%= f.number_field :earliest_start %>
  </div>
  <div class="field">
    <%= f.label :earliest_end %><br>
    <%= f.number_field :earliest_end %>
  </div>
  <div class="field">
    <%= f.label :latest_start %><br>
    <%= f.number_field :latest_start %>
  </div>
  <div class="field">
    <%= f.label :latest_end %><br>
    <%= f.number_field :latest_end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
