<p id="notice"><%= notice %></p>

<h1>Listing Event Job Job Associations</h1>

<table id="event_job_job_assoc" class="display">
  <thead>
    <tr>
      <th>Event</th>
      <th>Predecessor</th>
      <th>Successor</th>
      <th>Earliest start</th>
      <th>Earliest end</th>
      <th>Latest start</th>
      <th>Latest end</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @event_job_job_associations.each do |event_job_job_association| %>
      <tr>
        <td><%= event_job_job_association.event.name %></td>
        <td><%= event_job_job_association.predecessor.name %></td>
        <td><%= event_job_job_association.successor.name %></td>
        <td><%= event_job_job_association.earliest_start %></td>
        <td><%= event_job_job_association.earliest_end %></td>
        <td><%= event_job_job_association.latest_start %></td>
        <td><%= event_job_job_association.latest_end %></td>
        <td><%= link_to 'Show', event_job_job_association %></td>
        <td><%= link_to 'Edit', edit_event_job_job_association_path(event_job_job_association) %></td>
        <td><%= link_to 'Destroy', event_job_job_association, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event job job association', new_event_job_job_association_path %>
