<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @event_job_job_association.event_id %>
</p>

<p>
  <strong>Successor:</strong>
  <%= @event_job_job_association.successor_id %>
</p>

<p>
  <strong>Predecessor id:</strong>
  <%= @event_job_job_association.predecessor_id=integer %>
</p>

<p>
  <strong>Earliest start:</strong>
  <%= @event_job_job_association.earliest_start %>
</p>

<p>
  <strong>Earliest end:</strong>
  <%= @event_job_job_association.earliest_end %>
</p>

<p>
  <strong>Latest start:</strong>
  <%= @event_job_job_association.latest_start %>
</p>

<p>
  <strong>Latest end:</strong>
  <%= @event_job_job_association.latest_end %>
</p>

<%= link_to 'Edit', edit_event_job_job_association_path(@event_job_job_association) %> |
<%= link_to 'Back', event_job_job_associations_path %>
