<p id="notice"><%= notice %></p>

<h1>Listing Job Job Associations</h1>

<table id="job_job_associations" class="display">
  <thead>
    <tr>
      <th>Vorgänger</th>
      <th>Nachfolger</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @job_job_associations.each do |job_job_association| %>
      <tr>
        <td><%= job_job_association.predecessor.name %></td>
        <td><%= job_job_association.successor.name %></td>
        <td><%= link_to 'Show', job_job_association %></td>
        <td><%= link_to 'Edit', edit_job_job_association_path(job_job_association) %></td>
        <td><%= link_to 'Destroy', job_job_association, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neue Vorgänger-Nachfolger-Beziehung anlegen', new_job_job_association_path %>
<br>
<br>
<%= link_to 'Zurück zur Eventplanung', tcpsp_path %>
