<p id="notice"><%= notice %></p>

<p>
  <strong>Direkter Vorgänger:</strong>
  <%= @job_job_association.predecessor.name %>
</p>

<p>
  <strong>Direkter Nachfolger:</strong>
  <%= @job_job_association.successor.name %>
</p>

<%= link_to 'Edit', edit_job_job_association_path(@job_job_association) %> |
<%= link_to 'Back', job_job_associations_path %>
