<%= form_for(@event_job_period_association) do |f| %>
  <% if @event_job_period_association.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_job_period_association.errors.count, "error") %> prohibited this event_job_period_association from being saved:</h2>

      <ul>
      <% @event_job_period_association.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_id %><br>
    <%= f.collection_select(:event_id, Event.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :job_id %><br>
    <%= f.number_field :job_id %>
  </div>
  <div class="field">
    <%= f.label :period_id %><br>
    <%= f.collection_select(:period_id, Period.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :job_end %><br>
    <%= f.date_select :job_end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
