<% provide(:title, 'Eventplanung') %>
<h1>Multi-Projektplanung mit TCPSP</h1>
<p>
  Auf dieser Seite startet die Losgrößenplanung!    <br>     <br>

  <%= link_to "Hier geht es zur Verwaltung der Events!", events_path %><br>
  <%= link_to "Hier geht es zur Verwaltung der Vorgänge!", jobs_path %><br>
  <%= link_to "Hier geht es zur Verwaltung der Perioden!", periods_path %><br>
  <%= link_to "Hier geht es zur Verwaltung der Vorgänger-Nachfolger-Beziehung!", job_job_associations_path %><br>

  <%= link_to "Hier geht es zur Verwaltung der Events-Vorgänge-Perioden!", event_job_period_associations_path %><br>
  <%= link_to "Hier geht es zur Verwaltung der Events-Vorgänger-Nachfolger!", event_job_job_associations_path %><br>
</p>

<br>



<% if logged_in? %>

    <p>

      Nach der Eingabe der Daten können wir nun endlich optimieren!

      <%= button_to "Lösche die Projektpläne", :controller => 'event_job_job_associations', :action => 'delete_old_plan' %>
      <%= button_to "Optimiere", :controller => 'event_job_job_associations', :action => 'optimize' %>
      <%= button_to "Lies die Ergebnisse ein", :controller => 'event_job_job_associations', :action => 'read_optimization_results' %>
      <%= button_to "Lies den Zielfunktionswert ein", :controller => 'event_job_job_associations', :action => 'read_and_show_ofv' %>

    </p>

<% end %>



