<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= best_in_place @period, :name %>
</p>

<p>
  <strong>Zusätzliche Kapazität</strong>
  <%= best_in_place @period, :add_cappa %>
</p>

<%= link_to 'Edit', edit_period_path(@period) %> |
<%= link_to 'Back', periods_path %>
<br>
<br>
<%= link_to 'Zurück zur Verwaltung der Events', tcpsp_path %>