<p id="notice"><%= notice %></p>

<h1>Listing Jobs</h1>

<table id="jobs" class="display">
  <thead>
    <tr>
      <th>Vorgang</th>
      <th>Bearbeitungsdauer</th>
      <th>Kapazitätenbedarf</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.name %></td>
        <td><%= job.processing_time %></td>
        <td><%= job.ressource_demand %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
<br>
<br>
<%= link_to 'Zurück zur Verwaltung der Events', tcpsp_path %>
