<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= best_in_place @job, :name %>
</p>

<p>
  <strong>Processing time:</strong>
  <%= best_in_place @job, :processing_time %>
</p>

<p>
  <strong>Ressource demand:</strong>
  <%= best_in_place @job, :ressource_demand %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
<br>
<br>
<%= link_to 'Zurück zur Verwaltung der Events', tcpsp_path %>
