<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= best_in_place @event, :name %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= best_in_place @event, :Deadline %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
